{
	margin: 0;
	padding: 0;

}

#wrapper{
	width: 900px;
    margin: 0 auto;

}
}

ul{
    align: center;
}
h1{
    text-decoration: none;
    text-align: center;
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    font-size: 50px
}


#title {
    font-size: 20px;
    font-weight: 600;
    color: #5d5d5d;
}

#text {
    padding-top: 10px;
    font-size: 8px;
    color: #5d5d5d;
}


#nav {
    text-align: center;
    width: 700px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
} 

#more {
    width: 80px;
    margin-top:10px;
    float: right;
}
    
#more a{
    width: 80px;
    font-size: 15px;
    margin: 10px 30px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: #5d5d5d;
    border: 1px solid #5d5d5d;
    border-radius: 4px;
}

#more a:hover {
    width: 80px;
    font-size: 15px;
    background-color: #fff061;
    color: #5d5d5d;
    margin: 10px 30px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #5d5d5d;
    text-decoration: none;
}
    
#nav a {
    text-align: center;
    float: left;
    text-decoration: none;
    list-style-type: none;
    margin: 10px 30px;
    padding: 5px 10px;
    color: #5d5d5d;
    border: 1px solid #5d5d5d;
    border-radius: 4px;
}

#nav a:hover {
    background-color: 	#fff061;
    padding: 5px 10px;
}
#nav li{
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

#main{
    width: 800px;
    align: center;
    margin: 0 auto;
    
}


#box-text{
    float: left;
    width:160px;
    height:160px;
    padding: 20px;
}



#box-picture{
    float: left;
    width:200px;
    height:200px;

}

#link-right a{
    color: #5d5d5d;
    float: right;
    text-decoration: none;
}
#link-right a:hover{
    float: right;
    text-decoration: underline;
}

#hooter{
    hight: 50px;
}


